
{% extends 'home/base.html' %}
{% load humanize %}
{% block title %}{{ webname }} - Temukan Makna{% endblock %}
{% block meta %}
    <meta name="description" content="{{ web_name }}">
    <meta name="keywords" content="FindStock, Pasar Modal, Saham, ETF, Berita Investasi, Analisis Saham, Alat Investasi, Komunitas Investor, AI untuk Investasi">
    <meta name="author" content="FindStock">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="news_keywords" content="FindStock, Seputar Pasar Modal dan Investasi" />
{% endblock %}
{% block content %}
    <div class="hero-section">
    <div class="ticker-container">
    {% for item in top_saham %}
    <a href="{% url 'saham_detail' item.symbol %}" class="ticker-link">
        <div class="ticker-item 
            {% if item.change_pct > 0 %}up
            {% elif item.change_pct < 0 %}down
            {% else %}flat{% endif %}">

            <div class="ticker-arrow">
                {% if item.change_pct > 0 %}
                    <i class="fas fa-arrow-up"></i>
                {% elif item.change_pct < 0 %}
                    <i class="fas fa-arrow-down"></i>
                {% else %}
                    <i class="fas fa-minus"></i>
                {% endif %}
            </div>

            <div class="ticker-info">
                <span class="ticker-name">
                    {{ item.short_name|truncatechars:10 }}
                    ({{ item.symbol }})
                </span>
                <span class="ticker-price">
                    {{ item.volume|intword }}
                </span>
            </div>

            <div class="ticker-change">
                <span class="percent">
                    {% if item.change_pct > 0 %}+{% endif %}
                    {{ item.change_pct|floatformat:2 }}%
                </span>
                <span class="value">
                    {{ item.price|floatformat:2 }}
                </span>
            </div>

        </div>
    </a>
    {% endfor %}
</div>
<form method="get" action="{% url 'article_list' %}" class="hero-search-container">
    <i class="fas fa-search search-icon-input"></i>
    <input type="text" name="search" placeholder="Search for stocks, ETFs and more" value="{{ search_query|default:'' }}">
</form>
</div>
    <main class="content-area">
            <div class="main-content">
<div class="recently-searched">
    <h2>Sektor Basic Materials</h2>
    <div class="discover-grid-container">
        <button class="scroll-button left">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="discover-grid">
            {% for item in saham_basic_materials %}
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-card">    
                <div class="stock-card-ticker {{ item.symbol|lower }}">{{ item.symbol }}</div>
                <div class="stock-card-name">
                    {{ item.long_name|truncatechars:20 }}
                </div>
                <div class="stock-card-price {% if item.change_pct >= 0 %} positive {% else %} negative {% endif %}">
                    {{ item.price }} ({{ item.change_pct|floatformat:2 }}%)
                </div>       
            </a>
            {% endfor %}
        </div>
        <button class="scroll-button right">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
</div>
<div class="recently-searched">
    <h2>Sektor Financials</h2>
    <div class="discover-grid-container">
        <button class="scroll-button left">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="discover-grid">
            {% for item in sahan_financials %}
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-card">    
                <div class="stock-card-ticker {{ item.symbol|lower }}">{{ item.symbol }}</div>
                <div class="stock-card-name">
                    {{ item.long_name|truncatechars:20 }}
                </div>
                <div class="stock-card-price {% if item.change_pct >= 0 %} positive {% else %} negative {% endif %}">
                    {{ item.price }} ({{ item.change_pct|floatformat:2 }}%)
                </div>       
            </a>
            {% endfor %}
        </div>
        <button class="scroll-button right">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
</div>
                <section class="top-movers">
                    <h2>Top movers in your lists</h2>
                    <div class="mover-item">
                        <span class="mover-tag">BBRI</span>
                        <span class="mover-name">Bank Rakyat Indonesia (Pe...</span>
                        <span class="mover-price">Rp3,990.00</span>
                        <span class="mover-change-value">+Rp20.00</span>
                        <span class="mover-change-percent up"><i class="fas fa-arrow-up"></i> 0.50%</span>
                        <span class="mover-action"><i class="fas fa-check-circle"></i></span>
                    </div>
                </section>

                <section class="financial-news">
                    <h2>Today's financial news</h2>
                    <div class="news-filters">
                        <button class="filter-btn active">Top stories</button>
                        <button class="filter-btn">Local market</button>
                        <button class="filter-btn">World markets</button>
                    </div>
                    <div class="news-list">
        {% if article_list %}
        {% for artikel in article_list %}
                        <article class="news-item">
                            <div class="news-content">
                                <div class="news-source">{{ artikel.category }} • {{ artikel.created_at|date:'d F Y' }}</div>
                                <h3><a href="{% url 'article_detail' category_slug=artikel.category.slug unique_id=artikel.unique_id slug=artikel.slug %}">{{ artikel.title }}</a></h3>
                         
                            </div>
                            {% if artikel.featured_image %}
                            <img src="{{ artikel.featured_image.url }}" alt="{{ artikel.title }}" class="news-image">
                            {% endif %}
                        </article>
        {% endfor %}
        {% else %}
        <p>Tidak ada artikel</p>
        {% endif %}
                    </div>
                </section>

<div class="recently-searched">
    <h2>Sektor Healthcare</h2>
    <div class="discover-grid-container">
        <button class="scroll-button left">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="discover-grid">
            {% for item in saham_healthcare %}
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-card">    
                <div class="stock-card-ticker index">{{ item.symbol }}</div>
                <div class="stock-card-name">
                    {{ item.long_name|truncatechars:20 }}
                </div>
                <div class="stock-card-price {% if item.change_pct >= 0 %} positive {% else %} negative {% endif %}">
                    {{ item.price }} ({{ item.change_pct|floatformat:2 }}%)
                </div>       
            </a>
            {% endfor %}
        </div>
        <button class="scroll-button right">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
</div>

<div class="recently-searched">
    <h2>Sektor Transportation &amp; Logistics</h2>
    <div class="discover-grid-container">
        <button class="scroll-button left">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="discover-grid">
            {% for item in saham_transportation_logistic %}
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-card">    
                <div class="stock-card-ticker {{ item.symbol|lower }}">{{ item.symbol }}</div>
                <div class="stock-card-name">
                    {{ item.long_name|truncatechars:20 }}
                </div>
                <div class="stock-card-price {% if item.change_pct >= 0 %} positive {% else %} negative {% endif %}">
                    {{ item.price }} ({{ item.change_pct|floatformat:2 }}%)
                </div>       
            </a>
            {% endfor %}
        </div>
        <button class="scroll-button right">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
</div>



<div class="recently-searched">
    <h2>Sektor Technology</h2>
    <div class="discover-grid-container">
        <button class="scroll-button left">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="discover-grid">
            {% for item in saham_technology %}
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-card">    
                <div class="stock-card-ticker {{ item.symbol|lower }}">{{ item.symbol }}</div>
                <div class="stock-card-name">
                    {{ item.long_name|truncatechars:20 }}
                </div>
                <div class="stock-card-price {% if item.change_pct >= 0 %} positive {% else %} negative {% endif %}">
                    {{ item.price }} ({{ item.change_pct|floatformat:2 }}%)
                </div>       
            </a>
            {% endfor %}
        </div>
        <button class="scroll-button right">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
</div>



<div class="recently-searched">
    <h2>Sektor Non-Cyclicals</h2>
    <div class="discover-grid-container">
        <button class="scroll-button left">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="discover-grid">
            {% for item in saham_non_cyclicals %}
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-card">    
                <div class="stock-card-ticker {{ item.symbol|lower }}">{{ item.symbol }}</div>
                <div class="stock-card-name">
                    {{ item.long_name|truncatechars:20 }}
                </div>
                <div class="stock-card-price {% if item.change_pct >= 0 %} positive {% else %} negative {% endif %}">
                    {{ item.price }} ({{ item.change_pct|floatformat:2 }}%)
                </div>       
            </a>
            {% endfor %}
        </div>
        <button class="scroll-button right">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
</div>




<div class="recently-searched">
    <h2>Sektor Industrials</h2>
    <div class="discover-grid-container">
        <button class="scroll-button left">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="discover-grid">
            {% for item in saham_industrials %}
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-card">    
                <div class="stock-card-ticker {{ item.symbol|lower }}">{{ item.symbol }}</div>
                <div class="stock-card-name">
                    {{ item.long_name|truncatechars:20 }}
                </div>
                <div class="stock-card-price {% if item.change_pct >= 0 %} positive {% else %} negative {% endif %}">
                    {{ item.price }} ({{ item.change_pct|floatformat:2 }}%)
                </div>       
            </a>
            {% endfor %}
        </div>
        <button class="scroll-button right">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
</div>



<div class="recently-searched">
    <h2>Sektor Energy</h2>
    <div class="discover-grid-container">
        <button class="scroll-button left">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="discover-grid">
            {% for item in saham_energy %}
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-card">    
                <div class="stock-card-ticker {{ item.symbol|lower }}">{{ item.symbol }}</div>
                <div class="stock-card-name">
                    {{ item.long_name|truncatechars:20 }}
                </div>
                <div class="stock-card-price {% if item.change_pct >= 0 %} positive {% else %} negative {% endif %}">
                    {{ item.price }} ({{ item.change_pct|floatformat:2 }}%)
                </div>       
            </a>
            {% endfor %}
        </div>
        <button class="scroll-button right">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
</div>



<div class="recently-searched">
    <h2>Sektor Cyclicals</h2>
    <div class="discover-grid-container">
        <button class="scroll-button left">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="discover-grid">
            {% for item in saham_cyclicals %}
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-card">    
                <div class="stock-card-ticker {{ item.symbol|lower }}">{{ item.symbol }}</div>
                <div class="stock-card-name">
                    {{ item.long_name|truncatechars:20 }}
                </div>
                <div class="stock-card-price {% if item.change_pct >= 0 %} positive {% else %} negative {% endif %}">
                    {{ item.price }} ({{ item.change_pct|floatformat:2 }}%)
                </div>       
            </a>
            {% endfor %}
        </div>
        <button class="scroll-button right">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
</div>



<div class="recently-searched">
    <h2>Sektor Infrastructures</h2>
    <div class="discover-grid-container">
        <button class="scroll-button left">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="discover-grid">
            {% for item in saham_infrastructures %}
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-card">    
                <div class="stock-card-ticker {{ item.symbol|lower }}">{{ item.symbol }}</div>
                <div class="stock-card-name">
                    {{ item.long_name|truncatechars:20 }}
                </div>
                <div class="stock-card-price {% if item.change_pct >= 0 %} positive {% else %} negative {% endif %}">
                    {{ item.price }} ({{ item.change_pct|floatformat:2 }}%)
                </div>       
            </a>
            {% endfor %}
        </div>
        <button class="scroll-button right">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
</div>



<div class="recently-searched">
    <h2>Sektor Properties</h2>
    <div class="discover-grid-container">
        <button class="scroll-button left">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="discover-grid">
            {% for item in saham_properties %}
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-card">    
                <div class="stock-card-ticker {{ item.symbol|lower }}">{{ item.symbol }}</div>
                <div class="stock-card-name">
                    {{ item.long_name|truncatechars:20 }}
                </div>
                <div class="stock-card-price {% if item.change_pct >= 0 %} positive {% else %} negative {% endif %}">
                    {{ item.price }} ({{ item.change_pct|floatformat:2 }}%)
                </div>       
            </a>
            {% endfor %}
        </div>
        <button class="scroll-button right">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
</div>
            </div>




            
            

            <aside class="sidebar">
                <div class="sidebar-card">
                    <div class="card-header">
                        <i class="fas fa-chart-pie card-icon-blue"></i>
                        <div class="card-title">
                            <h4>Your portfolios</h4>
                            <p>Only you can see this</p>
                        </div>
                    </div>
                    <div class="portfolio-value">Rp0</div>
                    <div class="portfolio-item">
                        <span>FronX</span>
                        <span>Rp0</span>
                        <span>0.00%</span>
                    </div>
                    <button class="btn-new-portfolio"><i class="fas fa-plus"></i> New portfolio</button>
                </div>

                <div class="sidebar-card">
                    <div class="trend-filters">
                        <a href="{% url 'devidends_list' %}" class="filter-chip">
                            <i class="fas fa-chart-line"></i> Devidends
                        </a>
                        <a href="/s/filter/?sort=-change_pct" class="filter-chip">
                            <i class="fas fa-chart-line"></i> Gainers
                        </a>
                        <a href="/s/filter/?sort=change_pct" class="filter-chip">
                            <i class="fas fa-chart-line"></i> Losers
                        </a>
                        <a href="/s/filter/?sort=-volume" class="filter-chip">
                            <i class="fas fa-chart-line"></i> Most Active
                        </a>
                        <a href="/s/filter/?sort=pe" class="filter-chip">
                            <i class="fas fa-chart-line"></i> PE
                        </a>
                        <a href="/s/filter/?sort=-div_yield" class="filter-chip">
                            <i class="fas fa-chart-line"></i> Deviden Yeilds
                        </a>


                    </div>
                </div>

    <div class="sidebar-card">
                    <h4>Top Volume Stocks</h4>
{% for item in top_volumes %}
        <div class="stock-item">
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-left-link">
            <div class="stock-left">
                <div class="stock-ticker ticker-aapl">{{ item.symbol }}</div>
                <div class="company-name">{{ item.long_name }}</div>
                <div class="followers">{{ item.volume|intword }}</div>
            </div>
        </a>
    <div class="stock-right">
    {% if item.change_pct > 0 %}
        <div class="percentage positive">+{{ item.change_pct|floatformat:2 }}%</div>
    {% elif item.change_pct < 0 %}
        <div class="percentage negative">{{ item.change_pct|floatformat:2 }}%</div>
    {% else %}
        <div class="percentage neutral">{{ item.change_pct|floatformat:2 }}%</div>
    {% endif %}
</div>

        </div>
{% endfor %}


    </div>


    <div class="sidebar-card">
                    <h4>Top Gainers Stocks</h4>
{% for item in top_gainers %}
        <div class="stock-item">
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-left-link">
            <div class="stock-left">
                <div class="stock-ticker ticker-aapl">{{ item.symbol }}</div>
                <div class="company-name">{{ item.long_name }}</div>
                <div class="followers">{{ item.volume|intword }}</div>
            </div>
        </a>
    <div class="stock-right">
    {% if item.change_pct > 0 %}
        <div class="percentage positive">+{{ item.change_pct|floatformat:2 }}%</div>
    {% elif item.change_pct < 0 %}
        <div class="percentage negative">{{ item.change_pct|floatformat:2 }}%</div>
    {% else %}
        <div class="percentage neutral">{{ item.change_pct|floatformat:2 }}%</div>
    {% endif %}
</div>

        </div>
{% endfor %}


    </div>

      <div class="sidebar-card">
                    <h4>Top Lossers Stocks</h4>
{% for item in top_losers %}
        <div class="stock-item">
            <a href="{% url 'saham_detail' item.symbol %}" class="stock-left-link">
            <div class="stock-left">
                <div class="stock-ticker ticker-aapl">{{ item.symbol }}</div>
                <div class="company-name">{{ item.long_name }}</div>
                <div class="followers">{{ item.volume|intword }}</div>
            </div>
        </a>
    <div class="stock-right">
    {% if item.change_pct > 0 %}
        <div class="percentage positive">+{{ item.change_pct|floatformat:2 }}%</div>
    {% elif item.change_pct < 0 %}
        <div class="percentage negative">{{ item.change_pct|floatformat:2 }}%</div>
    {% else %}
        <div class="percentage neutral">{{ item.change_pct|floatformat:2 }}%</div>
    {% endif %}
</div>

        </div>
{% endfor %}


    </div>
            </aside>
    </main>
{% endblock %}